@charset "UTF-8";
.preloader {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100vh;
  background: var(--Gray-700, #101010);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Вертикальное выравнивание по центру */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Горизонтальное выравнивание по центру */
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  overflow: hidden;
}
.preloader * {
  -webkit-transition: none;
  transition: none;
}
.preloader.load {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.preloader__circle {
  /* Здесь вы можете добавить стили для общего круга, если нужно */
}

.preloader__circle-item {
  width: 191px;
  height: 192px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Вертикальное выравнивание по центру */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Горизонтальное выравнивание по центру */
  position: absolute;
  left: 50%; /* Смещаем по горизонтали на 50% */
  top: 50%; /* Смещаем по вертикали на 50% */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Используем translate, чтобы точно центрировать */
}
@media (max-width: 768px) {
  .preloader__circle-item {
    width: 150px;
    height: 150px;
  }
}

.preloader__circle-item span {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
  -webkit-background-clip: text;
          background-clip: text;
  color: #fff;
}
@media (max-width: 440px) {
  .preloader__circle-item span {
    font-size: 28px;
  }
}

.preload-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Центрируем элемент */
}

.item-2 {
  border-radius: 320px;
  border: 1px solid var(--Pink-100, rgba(228, 153, 255, 0.1294117647));
  width: 320px;
  height: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Выравниваем по вертикали */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Выравниваем по горизонтали */
}
@media (max-width: 440px) {
  .item-2 {
    width: 256px;
    height: 256px;
  }
}

.item-2 .icon {
  position: absolute;
  top: -34px;
  z-index: 3;
}

.item-3 {
  border-radius: 320px;
  border: 1px solid var(--Pink-100, rgba(228, 153, 255, 0.1294117647));
  width: 532px;
  height: 532px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Выравниваем по вертикали */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Выравниваем по горизонтали */
}
@media (max-width: 440px) {
  .item-3 {
    width: 432px;
    height: 432px;
  }
}

.circle-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Центрируем вложенные элементы */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Центрируем по вертикали */
  border-radius: 50%;
  background: var(--Gray-200, #b4b4b4);
  pointer-events: none;
}
.circle-overlay::before {
  position: absolute;
  content: "ssss";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e499ff), to(#464fec));
  background: linear-gradient(180deg, #e499ff 0%, #464fec 100%);
  -webkit-filter: blur(22.5px);
          filter: blur(22.5px);
  border-radius: 50%;
  left: 14px;
  top: 14px;
}

.circle-overlay .item svg {
  width: 190px;
  height: 190px;
}
.circle-overlay .item:nth-child(1) {
  z-index: 3;
}

.filter-sep-1 {
  width: 259px;
  height: 264px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: var(--Pink-100, #e499ff);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  position: absolute;
  left: -20vw;
  pointer-events: none;
}
@media (max-width: 440px) {
  .filter-sep-1 {
    width: 120px;
    height: 120px;
  }
}

.filter-sep-2 {
  width: 259px;
  height: 264px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: var(--Blue-100, #6067ee);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  position: absolute;
  right: -20vw;
  pointer-events: none;
}
@media (max-width: 440px) {
  .filter-sep-2 {
    width: 120px;
    height: 120px;
  }
}

.loading {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.492px */
  background: var(--1, linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 210px;
  left: 10px;
  white-space: nowrap;
}
@media (max-width: 440px) {
  .loading {
    bottom: 170px;
    font-size: 14px;
  }
}

.dots {
  display: inline-block;
  position: relative;
  width: 20px; /* РЕАЛЬНО фиксированное место */
}

.dots .ghost {
  background-color: #fff;
  visibility: hidden; /* Резервируем пространство */
}

.dots .live {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  background: var(--1, linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}