.achievements {
  position: relative;

  .cirlcle-filter-purple {
  left: -10vw;
  bottom: 0;
}

  // .achievements__inner

  &__inner {
  }

  // .achievements__subtitle

  &__subtitle {
    color: var(--Gray-200, #b4b4b4);

    font-size: clamp(1rem, 0.905rem + 0.34vw, 1.25rem);
    font-weight: 400;
    line-height: 110%; /* 22px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
    margin-top: 100px;

    @media (max-width: 1080px) {
      margin-top: 70px;
      margin-bottom: 16px;
    }
  }

  // .achievements__title

  &__title {
    color: var(--Base-White, #fff);

    /* montserrat/display/medium-medium */
    font-size: clamp(2rem, 1.478rem + 1.9vw, 3.375rem);
    font-weight: 500;
    line-height: 110%; /* 59.4px */
    letter-spacing: var(--Heading-H3_Semibold-Letter-Spacing, 0);
    margin: 16px 0 32px 0;
  }
}

.achievements-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(1, 1fr);
  }

  // .achievements-info__item

  &__item {
    display: flex;
    padding: 36px 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;

    position: relative;
    border-radius: 12px;
    background: rgba(23, 23, 23, 0.2); // стеклянный фон

    @include inner-shadow-premium();
 @include defBlock;

    @media (max-width: 440px) {
      min-height: 232px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0; // заменяет left+right+top+bottom: 0

      border-radius: inherit;
      padding: 1px; // толщина рамки
      background: linear-gradient(135deg, #ffffff73, #3b3b3b, #000000);

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
      z-index: -1; // рамка под содержимым
    }
  }

  // .achievements-info__item-count

  &__item-count {
    /* montserrat/display/large-medium */
    font-size: clamp(2.625rem, 2.198rem + 1.55vw, 3.75rem);
    font-weight: 500;
    line-height: 110%; /* 66px */
    letter-spacing: var(--Letter-Spacing-None, 0);

    background: var(
      --1,
      linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }

  // .achievements-info__item-title

  &__item-title {
    color: var(--Base-White, #fff);

    /* montserrat/headline/small-medium */
    font-size: clamp(1.25rem, 1.155rem + 0.34vw, 1.5rem);
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
  }

  // .achievements-info__item-subtitle

  &__item-subtitle {
    color: var(--Gray-200, #b4b4b4);

    /* montserrat/title/medium-medium */
    font-size: clamp(0.875rem, 0.828rem + 0.17vw, 1rem);

    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
    margin-top: 8px;
  }
}
.achievements-stage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  margin-top: 16px;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(1, 1fr);
  }

  // .achievements-stage__item

  &__item {
    position: relative;
    border-radius: 12px;
    background: rgba(23, 23, 23, 0.2); // стеклянный фон

    padding: 36px 32px;

     @include defBlock;

    @media (max-width: 440px) {
      min-height: 232px;
    }

    &.invers {
      display: flex;
      flex-direction: column-reverse;

      .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .achievements-stage__item-count {
        margin-bottom: 0 !important;

        @media (max-width: 440px) {
          img {
            height: 100px;
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0; // заменяет left+right+top+bottom: 0

      border-radius: inherit;
      padding: 1px; // толщина рамки
      background: linear-gradient(135deg, #ffffff73, #3b3b3b, #000000);

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
      z-index: -1; // рамка под содержимым
    }
  }

  // .achievements-stage__item-count

  &__item-count {
    /* montserrat/display/large-medium */
    font-size: clamp(2.625rem, 2.198rem + 1.55vw, 3.75rem);
    font-weight: 500;
    line-height: 110%; /* 66px */
    letter-spacing: var(--Letter-Spacing-None, 0);

    background: var(
      --1,
      linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .achievements-stage__item-title

  &__item-title {
    color: var(--Base-White, #fff);

    /* montserrat/headline/small-medium */
    font-size: clamp(1.25rem, 1.155rem + 0.34vw, 1.5rem);
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
  }

  // .achievements-stage__item-subtitle

  &__item-subtitle {
    color: var(--Gray-200, #b4b4b4);

    /* montserrat/title/medium-medium */
    font-size: clamp(0.875rem, 0.828rem + 0.17vw, 1rem);
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
  }
}

.achievements__text {
  &-subtitle {
    color: var(--Base-White, #fff);
    text-align: center;

    /* montserrat/display/small-medium */
    font-size: clamp(1.25rem, 0.728rem + 1.9vw, 2.625rem);
    font-weight: 500;
    line-height: 130%; /* 54.6px */
    letter-spacing: var(--Heading-H4_Semibold-Letter-Spacing, 0);
    margin-top: 144px;

    @media (max-width: 440px) {
      line-height: 110%;
      margin-top: 68px;
    }

    span {
      background: var(
        --1,
        linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


