@import './reset.scss';
@import './header.scss';
@import './hero.scss';
@import './service.scss';
@import './achievements.scss';
@import './advantages.scss';
@import './portfolio.scss';
@import './about.scss';
@import './footer.scss';