.portfolio {
  position: relative;

  &__title {
    margin: 144px 0 16px 0;

    color: var(--Base-White, #fff);
    text-align: center;

    /* montserrat/display/medium-medium */
    font-size: clamp(1.5rem, 0.789rem + 2.59vw, 3.375rem);
    font-weight: 500;
    line-height: 110%; /* 59.4px */
    letter-spacing: var(--Heading-H3_Semibold-Letter-Spacing, 0);

    @media (max-width: 440px) {
      margin: 70px 0 16px 0;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    color: var(--Gray-200, #b4b4b4);
    text-align: center;

    /* montserrat/title/large-regular */
    font-size: clamp(1rem, 0.905rem + 0.34vw, 1.25rem);
    font-weight: 400;
    line-height: 110%; /* 22px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);

    @media (max-width: 440px) {
      margin-bottom: 26px;
    }
  }
  // .portfolio__inner

  &__inner {
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .portfolio__start

  &__start {
    position: relative;
    z-index: 1;
    overflow: hidden; // обязательно!

    display: flex;
    padding: 32px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Space-2xs, 2px);
    align-items: center;

    border-radius: 12px;
    background: rgba(23, 23, 23, 0.2); // стеклянный фон

    max-width: 472px;
    width: 100%;

    @include inner-shadow-premium();


    @media (max-width: 768px) {
      max-width: 100%;
      padding: 26px 14px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0; // заменяет left+right+top+bottom: 0

      border-radius: inherit;
      padding: 1px; // толщина рамки
      background: linear-gradient(135deg, #ffffff6b, #3b3b3b, #000000);

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
      z-index: -1; // рамка под содержимым
    }
  }

  // .portfolio__title

  &__info {
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: "TT Firs Neue", sans-serif;
    font-size: clamp(1rem, 0.858rem + 0.52vw, 1.375rem);
    font-weight: 500;
    line-height: 100%; /* 22px */
  }

  // .portfolio__count

  &__count {
    text-align: center;
    margin: 12px 0;

    font-size: clamp(1.5rem, 1.073rem + 1.55vw, 2.625rem);
    font-weight: 500;
    line-height: 130%; /* 54.6px */
    letter-spacing: var(--Heading-H4_Semibold-Letter-Spacing, 0);

    background: var(
      --1,
      linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      margin-bottom: 4px;
    }
  }

  // .portfolio__muted

  &__muted {
    color: var(--Gray-300, #8e8e8e);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; /* 16.8px */

    margin-bottom: 24px;

    span {
      display: inline-flex;
      padding: var(--Space-2xs, 2px) var(--Space-xs, 4px);
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 10px;
      background: var(
        --green-badge,
        linear-gradient(90deg, #9cffb1 0%, #6067ee 99.93%)
      );
      background-blend-mode: screen;

      color: var(--Gray-700, #101010);

      /* montserrat/body/medium-semibold */
      font-size: 10px;
      font-weight: 600;
      line-height: 120%; /* 12px */
      letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
    }
  }

  // .portfolio__end

  &__end {
    img {
      position: absolute;
      right: 0;
      top: 70%;
      transform: translateY(-50%);
      pointer-events: none;

      @media (max-width: 768px) {
        position: relative;
        transform: none;
      }

      @media (max-width: 440px) {
        transform: scale(2.2) translateX(-22px) translateY(-7px);
      }
    }
  }
}

.portfolio-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;

  @media (max-width: 440px) {
    grid-template-columns: 1fr;
  }
  // .portfolio-blocks__item

  &__item {
    border-radius: 12px;
    background: var(--Gray-600, #171717);

    padding: 14px;

    @media (max-width: 440px) {
      padding: 16px 20px;
    }

    &:nth-child(1) {
      order: -2;
    }

    &:nth-child(3) {
      order: -1;

      .portfolio-blocks__item-range {
        border-radius: 10px;
        background: var(
          --red-badge,
          linear-gradient(90deg, #f0654c 0%, #6067ee 99.93%)
        );
        background-blend-mode: screen;
      }
    }
  }

  // .portfolio-blocks__item-title

  &__item-title {
    margin-bottom: 6px;
    color: var(--Base-White, #fff);

    font-family: "TT Firs Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
  }

  // .portfolio-blocks__item-range

  &__item-range {
    border-radius: 10px;
    background: var(
      --green-badge,
      linear-gradient(90deg, #9cffb1 0%, #6067ee 99.93%)
    );
    background-blend-mode: screen;

    display: inline-flex;
    padding: var(--Space-2xs, 2px) var(--Space-xs, 4px);
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: var(--Gray-700, #101010);

    /* montserrat/body/medium-semibold */
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 12px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .portfolio-blocks__range

  &__range {
    display: grid;

    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    @media (max-width: 440px) {
      grid-template-columns: 7fr 1fr;
      margin-top: 8px;
    }
  }

  // .portfolio-blocks__item-body

  &__item-body {
    width: 100%;
    height: 10px;

    border-radius: 100px;
    overflow: hidden;

    position: relative;
    z-index: 1;
    overflow: hidden; // обязательно!

    background: rgba(23, 23, 23, 0.2); // стеклянный фон

    max-width: 480px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0; // заменяет left+right+top+bottom: 0

      border-radius: inherit;
      padding: 1px; // толщина рамки
      background: linear-gradient(135deg, #ffffff6b, #91919180, #000000);

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
      z-index: -1; // рамка под содержимым
    }

    .line {
      height: 100%;
      
      border-radius: 100px;
      background-color: #fff;
    }
  }

  // .portfolio-blocks__item-count

  &__item-count {
    color: var(--Base-White, #fff);

    /* montserrat/body/large-semibold */
    font-size: 12px;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
    letter-spacing: var(--Subtitle-Subtitle-2_Medium-Letter-Spacing, 0);
    text-align: right;
  }
}
.line {
}

.range-col {
  @media (max-width: 440px) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
