@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;

  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;

  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;

  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;

  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;

  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;

  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  background: var(--Gray-700, #101010);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Custom

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 440px) {
    padding: 0 16px;
  }
}

@mixin hidden {
  @media (max-width: 1080px) {
    display: none;
  }
}

@mixin btnHover {
  &:hover {
    color: var(--Base-White, #fff);

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &:active {
    background: var(
      --1,
      linear-gradient(90deg, #e59cff 0.01%, #6067ee 148.83%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    svg {
      path {
        fill: #e59cff;
      }
    }
  }

  &:active {
    svg {
      * {
        transition: none !important;
      }
    }
  }
}

@mixin btnGradient {
  &:hover {
    color: #e59cff;

    svg {
      path {
        fill: #e59cff;
      }
    }
  }
}

@mixin defBlock {
  transition: 0.4s ease-in-out !important;
  &:hover {
    box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.315);
    background: #0f0f0f;
  }

  &:hover::before {
    opacity: 0;
  }
}

@mixin inner-shadow-premium(
  $blur: 40px,
  $shadowColor: rgba(0, 0, 0, 0.55),
  $stroke: rgba(255, 255, 255, 0.06)
) {
  box-shadow: inset 0 0 $blur $shadowColor, inset 0 0 0 1px $stroke;
}

.cirlcle-filter-rose {
  width: 251px;
  height: 256px;

  background: #e499ff;
  filter: blur(250px);
  position: absolute;
  pointer-events: none;

  @media (max-width: 440px) {
    width: 164px;
    height: 164px;
  }
}

.cirlcle-filter-purple {
  width: 251px;
  height: 256px;

  background: #6067ee;
  filter: blur(250px);
  position: absolute;
  pointer-events: none;

  @media (max-width: 440px) {
    width: 164px;
    height: 164px;
  }
}
