# Включаем кэширование для статических файлов
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 30 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/gif "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
  ExpiresByType text/css "access plus 30 days"
  ExpiresByType application/javascript "access plus 30 days"
  ExpiresByType font/woff2 "access plus 30 days"
  ExpiresByType font/woff "access plus 30 days"
  ExpiresByType video/mp4 "access plus 30 days"
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "public, max-age=2592000, immutable"
</IfModule>



 <!-- <div class="portfolio__end">
                  <img src="./images/video.png" alt="">

                  <div class="portfolio-blocks__item-resp resp-1" data-portfolio-resp-value="Agricultural">
                    <p>Agricultural</p>
                    <span class="resp__circle"></span>
                  </div>

                  <div class="portfolio-blocks__item-resp resp-2" data-portfolio-resp-value="Dairy">
                    <p>Dairy</p>
                    <span class="resp__circle"></span>
                  </div>

                  <div class="portfolio-blocks__item-resp resp-3" data-portfolio-resp-value="Industrial">
                    <p>Industrial</p>
                    <span class="resp__circle"></span>
                  </div>

                  <div class="portfolio-blocks__item-resp resp-4" data-portfolio-resp-value="Logistics">
                    <p>Logistics</p>
                    <span class="resp__circle"></span>
                  </div>

                   <div class="portfolio-blocks__item-resp resp-5" data-portfolio-resp-value="Office">
                    <p>Office space</p>
                    <span class="resp__circle"></span>
                  </div>

                  <div class="portfolio-blocks__item-resp resp-6" data-portfolio-resp-value="Trading">
                    <p>Trading</p>
                    <span class="resp__circle"></span>
                  </div>
                </div> -->